:root {
  /* Colors */
  --primary-color: rgb(134, 1, 243);
  --input-color: #9000f0d8;
  --input-placeholder-color: #9900ffbe;
  --input-shadow-color: #ff008c9d;
  --search-btn-background-color: #ff0087e6;
  --search-btn-border-color: #fd60bf;
  --btn-hover-color: #dd0085;
  --search-btn-shadow-color: #8ba2c67c;
  --body-background-color: #475c7e7a;
  --body-border-color: #a25fff;
  --state-icon-background-color: #ffc107e8;
  --state-icon-border-color: #fff0cad6;
}
